<h1>Gas Guzzler</h1>
<form action="/" method="post">
  <input type="text" name="miles" />
  <input type="text" name="gallons" />
  <input type="text" name="created_at" value="<%= Time.now %>" />
  <input type="submit" value="Gulp">
</form>