<h1><a href="/">Gas Guzzler</a></h1>
<h2>milage</h2>
<table>
  <tr>
    <th>Miles</th>
    <th>Gallons</th>
    <th>est. MPG</th>
    <th>Date</th>
  </tr>
  <% @mpg.each do |x| %>
    <tr>
      <td><%= "%.1f" % x.miles %></td>
      <td><%= "%.3f" % x.gallons %></td>
      <td><%= "%.0f" % x.mpg %></td>
      <td><%= x.created_at.strftime("%x") %></td>
    </tr>
  <% end %>
</table>